<div class="collapse" id="collapseExample">
  <div class="accordion mt-4" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Bestellingsformulier
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body">
          <div class="row">
            <div class="col-4">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Besteller</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
              </div>
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm2">Bestuurder</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
              </div>
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm3">Automerk</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
              </div>
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm4">Status</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
              </div>
            </div>
            <div class="col-4">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm5">Bestellingsdatum</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
              </div>
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm6">Bezorgdatum</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
              </div>
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm7">Verwachte leveringsweek</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
              </div>
            </div>
            <div class="col-4">
              <div class="input-group input-group-sm mb-3">
                <label class="input-group-text" for="inputGroupFile01">Leaseplan</label>
                <input type="file" class="form-control" id="inputGroupFile01">
              </div>
              <div class="input-group input-group-sm mb-3">
                <label class="input-group-text" for="inputGroupFile02">Factuur</label>
                <input type="file" class="form-control" id="inputGroupFile02">
              </div>
            </div>
          </div>
        </div>
        <button aria-expanded="false" aria-controls="collapseExample" data-bs-toggle="collapse" data-bs-target="#collapseExample" type="button" class="btn btn-light border-color-secondary align-items-center display-flex text-nowrap m-3" title="Klik hier om een nieuwe bestelling toe te voegen">
          <mat-icon aria-hidden="false" class="plus-color pointer-hover" aria-label="add_box" fontIcon="add_box"></mat-icon>Nieuwe bestelling toevoegen
        </button>
      </div>
    </div>
  </div>
</div>

