<div class="collapse" id="collapseExample">
  <div class="accordion mt-4" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button bg-dark brick-red rounded-top" aria-expanded="false" aria-controls="collapseOne">
          Bestellingsformulier
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body">
          <div class="row">
            <div class="col-4">
              <div class="form-floating mb-3">
                <input [(ngModel)]="orderer" type="text" class="form-control" id="ordererInput" placeholder="John Doe">
                <label for="ordererInput">Besteller</label>
              </div>
              <div class="form-floating mb-3">
                <input [(ngModel)]="driver" type="text" class="form-control" id="driverInput" placeholder="Jane Doe">
                <label for="driverInput">Bestuurder</label>
              </div>
              <div class="form-floating mb-3">
                <input [(ngModel)]="supplier" type="text" class="form-control" id="supplierInput" placeholder="Jane Doe">
                <label for="supplierInput">Leverancier</label>
              </div>
              <div class="form-floating mb-3">
                <input [(ngModel)]="carBrand" type="text" class="form-control" id="carInput" placeholder="Jane Doe">
                <label for="driverInput">Automerk</label>
              </div>
              <div class="form-floating">
                <select [(ngModel)]="status" class="form-select" id="statusSelect" aria-label="Status selecteren">
                  <option selected disabled>Status</option>
                  <option value="ORDERED">Besteld</option>
                  <option value="PROCESSED">Verwerkt</option>
                  <option value="DELAYED">Vertraagd</option>
                  <option value="SHIPPED">Onderweg</option>
                  <option value="DELIVERED">Bezorgd</option>
                  <option value="CANCELED">Geannuleerd</option>
                  <option value="UKNOWN">Onbekend</option>
                </select>
                <label for="statusSelect">De status van de levering</label>
              </div>
            </div>
            <div class="col-4">
              <div class="input-group mb-3">
                <div class="form-floating">
                    <input
                      class="form-control"
                      placeholder="dd-mm-yyyy"
                      id="orderDateInput"
                      name="dpOrder"
                      [(ngModel)]="dateOfOrder"
                      ngbDatepicker
                      #dpOrder="ngbDatepicker"
                    />
                  <label for="orderDateInput">Datum van bestelling</label>
                </div>
                <button class="btn btn-outline-secondary align-items-center display-flex" (click)="dpOrder.toggle()" type="button">
                  <mat-icon title="Open kalender" class="pointer-hover brick-red" aria-label="calendar_month" fontIcon="calendar_month"></mat-icon>
                </button>
              </div>
              <div class="input-group mb-3">
                <div class="form-floating">
                  <input
                    class="form-control"
                    placeholder="dd-mm-yyyy"
                    id="orderDeliveryInput"
                    name="dpDelivery"
                    [(ngModel)]="dateOfDelivery"
                    ngbDatepicker
                    #dpDelivery="ngbDatepicker"
                  />
                  <label for="orderDeliveryInput">Datum van levering</label>
                </div>
                <button class="btn btn-outline-secondary border-secondary align-items-center display-flex" (click)="dpDelivery.toggle()" type="button">
                  <mat-icon title="Open kalender" class="pointer-hover brick-red calender-hover" aria-label="calendar_month" fontIcon="calendar_month"></mat-icon>
                </button>
              </div>
              <div class="form-floating ">
                <input [(ngModel)]="expectedWeek" type="number" id="expectedWeekInput" class="form-control" placeholder="verwachte week" min="1" max="52" />
                <label class="form-label" for="expectedWeekInput">Verwachte week van levering</label>
              </div>
            </div>
            <div class="col-4">
              <div class="input-group mb-3 label-hover">
                <label class="input-group-text w-50" for="leasePlanInput">Upload leaseplan</label>
                <input [(ngModel)]="leaseplanPath" type="file" class="form-control custom-button" id="leasePlanInput" placeholder="Leaseplan">
              </div>
              <div class="input-group mb-3 label-hover">
                <label class="input-group-text w-50" for="quotationInput">Upload factuur</label>
                <input [(ngModel)]="quotationPath" type="file" class="form-control custom-button" id="quotationInput" placeholder="factuur">
              </div>
          </div>
        </div>
        <button aria-expanded="false" aria-controls="collapseExample" (click)="this.create();" type="button" class="btn btn-light border-dark align-items-center display-flex text-nowrap mt-5" title="Klik hier om een nieuwe bestelling toe te voegen">
          <mat-icon aria-hidden="false" class="plus-color pointer-hover" aria-label="add_box" fontIcon="add_box"></mat-icon>Nieuwe bestelling toevoegen
        </button>
        </div>
      </div>
    </div>
  </div>
</div>
