.display-flex {
  display: flex;
}

.accordion-button::after {
  display: none;
}

.fake-link {
  color: blue !important;
  text-decoration: underline !important;
}

.fake-link:hover {
  cursor: pointer;
}

.info-button {
  color: white;
}

.info-button:hover {
  color: #c13350;
}

.display-none {
  display: none;
}

.label-hover label {
  cursor: pointer !important;
}

.label-hover:hover label {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5));
}

.rotate-icon {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
