<div class="list-group">
  <a class="list-group-item list-group-item-action bg-dark fw-bold" style="color: #c13350;" aria-current="true">
    Bestelling voor
  </a>
  <a class="list-group-item list-group-item-action"><b>Geslacht: </b>Man</a>
  <a class="list-group-item list-group-item-action"><b>Naam: </b>Douwe</a>
  <a class="list-group-item list-group-item-action"><b>Achternaam: </b>Leeuw</a>
  <a class="list-group-item list-group-item-action"><b>tussenvoegsel: </b>de</a>
  <a class="list-group-item list-group-item-action"><b>E-mailadres: </b>ddleeuw@quintor.nl</a>
  <a class="list-group-item list-group-item-action"><b>Telefoonnummer: </b>+31 6 27 61 23 12</a>
  <a class="list-group-item list-group-item-action"><b>Functie: </b>Software Developer</a>
  <a class="list-group-item list-group-item-action"><b>Rijbewijs: </b>B</a>
  <a class="list-group-item list-group-item-action"><b>Parttime: </b>80%</a>
</div>
