<div class="list-group">
  <a class="list-group-item list-group-item-action bg-dark fw-bold" style="color: #c13350;" aria-current="true">
    Contract
  </a>
  <a class="list-group-item list-group-item-action"><b>Regeling: </b>A2</a>
  <a class="list-group-item list-group-item-action"><b>Ondertekend: </b>Ja</a>
  <a class="list-group-item list-group-item-action"><b>Looptijd: </b>36 maanden</a>
  <a class="list-group-item list-group-item-action"><b>Leasemaatschappij: </b>LeasePlan</a>
  <a class="list-group-item list-group-item-action"><b>Fiscale bijtelling: </b>22%</a>
  <a class="list-group-item list-group-item-action"><b>Eigen bijdrage: </b>57.04 (10% parttime)</a>
</div>
