<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" [attr.aria-labelledby]=title>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExample"><b>{{ title }}</b><hr>  </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <b>De velden met een asterisk (<span class="brick-red">*</span>) zijn verplicht. Deze velden mogen niet leeg zijn.</b>
    </div>
  </div>
</div>
