<app-navbar></app-navbar>
<app-toast></app-toast>
<app-data-tools
  [buttonName]="'Bestelling toevoegen'"
  [buttonTitle]="'Klik hier om het bestellingsformulier te openen'"
  [searchPlaceHolder]="'Zoek op bestuurder..'"
  [searchAriaLabel]="'Zoek bestelling'"
></app-data-tools>
<app-accordion [title]="'orders'"></app-accordion>
<app-table
  [headers]="OrderTableHeader"
  [rowData]="filteredRowData"
  [titles]="['Bestelling', 'Leaseauto', 'Contract']"
  [hiddenProperties]="['id', 'leasecar', 'contract', 'leaseOrderId']"
  [apiURL]="'/orders/'"
  [searchIndex]="2"
  (rowClickEvent)="rowClicked($event)"
></app-table>
