<app-navbar></app-navbar>
<app-toast></app-toast>

<div class="container mt-3">
  <div class="row">
    <div class="col-12 col-md-6 col-xxl-4 mt-3">
      <button #addOrderComponent (click)="scroll(addOrderComponent)" id="open-add-order" aria-expanded="false" aria-controls="collapseExample" data-bs-toggle="collapse" data-bs-target="#collapseExample" type="button" class="btn btn-light border-color-secondary align-items-center display-flex text-nowrap mx-auto mx-md-0" title="Klik hier om het bestellingsformulier te openen">
        <mat-icon aria-hidden="false" class="brick-red pointer-hover" aria-label="menu_open" fontIcon="menu_open"></mat-icon>Nieuwe bestelling
      </button>
    </div>
    <div class="col-12 col-md-6 col-xxl-4 mt-3">
      <div class="input-group">
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Zoek op bestuurder.." aria-label="Zoek bestelling" aria-describedby="button-addon2">
        <button class="btn btn-outline-dark align-items-center display-flex" type="button" id="button-addon2">
          <mat-icon aria-hidden="false" class="pointer-hover ms-0 ps-0" aria-label="search" fontIcon="search"></mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<app-add-order [formName]="'Bestellingsformulier'" [buttonName]="'Nieuwe bestelling toevoegen'" [buttonColorClass]="'plus-color'" [buttonFont]="'add_box'" (newOrderEvent)="this.addOrder($event);this.reloadOrders();this.toastOrder.showToast('Bestelling toegevoegd!', $event.order.data.id.value, 'De bestelling is toegevoegd!', 'green')"></app-add-order>

<div class="container table-responsive min-vh-100">
  <table class="table table-hover table-borderless mt-4 shadow-all bg-light">
    <thead>
      <tr class="table-header">
        <th *ngFor="let headerItem of OrderHeader | keyvalue: asIsOrder; let i = index" scope="col" class="pointer-hover" (click)="this.setSorting(headerItem.value.value);">
          <div class="d-flex align-items-center">
            <img *ngIf="i == 0" alt="driver" src="../../../../assets/image/tableheaders/counter.png" class="me-1 table-header-height">
            <span *ngIf="i == 0" class="hidden">#</span>
            {{ headerItem.value.name }}
            <mat-icon id="sorting-{{ headerItem.value.value }}" title="{{ headerItem.value.title }}" aria-hidden="false" class="ms-2 pointer-hover rotate-to-0 brick-red {{ i == 0 ? 'opacity-100' : 'opacity-25' }}" aria-label="sort_by_alpha" fontIcon="arrow_drop_up"></mat-icon>
          </div>
        </th>
        <th scope="col">Actie</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let order of this.orders | orderFilter: this.searchText: this.reload | orderSort: this.sortingField: this.sorting: this.reload;">
        <tr id="row{{ order.data.id.value }}" (click)="rotateArrow(order.data.id.value);" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+order.data.id.value" aria-expanded="false">
          <th scope="row"><span class="text-nowrap">{{ order.data.id.value }}</span></th>
          <td><span class="text-nowrap">{{ order.data.orderer.value }}</span></td>
          <td><span class="text-nowrap">{{ order.data.leasecar.data.driver.value }}</span></td>
          <td><span class="text-nowrap">{{ order.data.leasecar.data.brand.value }}</span></td>
          <td><span class="text-nowrap">{{ order.data.orderDate.value }}</span></td>
          <td class="pe-5 w-15">
            <div ngbDropdown #dropdown class="btn-group w-100">
              <button ngbDropdownToggle id="status{{order.data.id.value}}" (click)="openStatusMenu();" class="btn btn-sm btn-group-sm dropdown-toggle {{'btn-'+order.data.leaseOrderStatus.status.color}}" data-bs-toggle="collapse" data-bs-target="" aria-expanded="false">
                {{ order.data.leaseOrderStatus.status.text }}
              </button>
              <ul ngbDropdownMenu class="dropdown-menu" data-bs-toggle="collapse" data-bs-target="" [attr.aria-labelledby]="'status'+order.data.id.value">
                <div *ngFor="let status of this.OrderStatus | keyvalue">
                  <li><a class="dropdown-item {{ order.data.leaseOrderStatus.status.code == status.value.code ? 'd-none' : '' }}" (click)="this.editStatus(order.data.id.value, status.value);">{{ status.value.text }}</a></li>
                </div>
              </ul>
            </div>
          </td>
          <td class="text-start align-middle">
            <span class="align-items-center display-flex" id="actions_{{ order.data.id.value }}">
              <a [routerLink]="'/orders/'+order.data.id.value+'/view'" target="_blank" class="align-items-center display-flex"><mat-icon data-bs-toggle="collapse" data-bs-target="" aria-hidden="false" title="Bekijken" class="eye-color pointer-hover me-3" aria-label="view" fontIcon="visibility"></mat-icon></a>
              <a [routerLink]="'/orders/'+order.data.id.value +'/edit'" class="align-items-center display-flex"><mat-icon data-bs-toggle="collapse" data-bs-target="" aria-hidden="false" title="Aanpassen" class="pencil-color pointer-hover me-3" aria-label="edit" fontIcon="edit"></mat-icon></a>
              <mat-icon data-bs-toggle="collapse" data-bs-target="" aria-hidden="false" title="Verwijderen" class="trash-color pointer-hover" aria-label="trash" fontIcon="delete" (click)="this.prompt(true, order.data.id.value);"></mat-icon>
            </span>
            <span class="text-nowrap prompt" id="delete_prompt_{{ order.data.id.value }}">
              <mat-icon data-bs-toggle="collapse" data-bs-target="" aria-hidden="false" title="Verwijderen" class="trash-color pointer-hover hidden me-3" aria-label="trash" fontIcon="delete"></mat-icon>
              <mat-icon data-bs-toggle="collapse" data-bs-target="" aria-hidden="false" title="Definitief verwijderen" class="trash-color pointer-hover me-3" aria-label="delete forever" fontIcon="delete_forever" (click)="this.delete(order.data.id.value);this.toastOrder.showToast('Bestelling verwijderd!', order.data.id.value, 'De bestelling is verwijderd!', 'red');$event.stopPropagation()"></mat-icon>
              <mat-icon data-bs-toggle="collapse" data-bs-target="" aria-hidden="false" title="Ongedaan maken" class="pencil-color pointer-hover" aria-label="undo" fontIcon="undo" (click)="this.prompt(false, order.data.id.value);$event.stopPropagation()"></mat-icon>
            </span>
          </td>
          <td class="text-start align-middle">
            <span class="align-items-center display-flex">
              <mat-icon id="arrow{{ order.data.id.value }}" title="Open" aria-hidden="false" class="trash-color pointer-hover rotate-to-0" aria-label="arrow_down" fontIcon="keyboard_arrow_down"></mat-icon>
            </span>
          </td>
        </tr>
        <tr class="td-p-0">
          <td colspan="8">
            <div class="collapse border-top border-bottom pb-3" id="{{'collapse' + order.data.id.value }}">
              <div class="accordion-body">
                <app-view-order (clickEvent)="downloadFile($event)" [clickableProperties]="['leasePlanPath', 'quotationPath']" [hiddenProperties]="['leasecar', 'id', 'contract']" [titles]="['Informatie', 'Leaseauto', 'Contract']" [items]="[order, order.data.leasecar, order.data.leasecar.data.contract]"></app-view-order>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
