<app-toast></app-toast>
<app-navbar></app-navbar>
<app-data-tools
  [buttonName]="'Leaseauto toevoegen'"
  [buttonTitle]="'Klik hier om het leaseautoformulier te openen'"
  [searchPlaceHolder]="'Zoek op bestuurder..'"
  [searchAriaLabel]="'Zoek leaseauto'"
  (searchEvent)="setSearchText($event)"
></app-data-tools>
<app-accordion
  [data]="[LeaseCarDummy, LeaseCarDummy.contract]"
></app-accordion>
<app-table
  [headers]="LeaseCarTableHeader"
  [rowData]="rowData"
  [fullData]="fullData"
  [titles]="['Leaseauto', 'Contract']"
  [hiddenProperties]="['id', 'contract']"
  [searchText]="searchText"
  [apiURL]="'/leasecars/'"
  [searchIndex]="1"
></app-table>
