<app-navbar></app-navbar>
<app-toast></app-toast>
<app-data-tools
  [buttonName]="'Leaseauto toevoegen'"
  [buttonTitle]="'Klik hier om het leaseautoformulier te openen'"
  [searchPlaceHolder]="'Zoek op bestuurder..'"
  [searchAriaLabel]="'Zoek leaseauto'"
></app-data-tools>
<app-accordion
  [data]="[LeasecarDummy, LeasecarDummy.contract]"
></app-accordion>
<app-table
  [headers]="LeaseCarTableHeader"
  [titles]="['Leaseauto', 'Contract']"
  [hiddenProperties]="['id', 'contract']"
  [apiURL]="'/leasecars/'"
  [searchIndex]="1"
  [rowData]="filteredRowData"
  (rowClickEvent)="rowClicked($event)"
></app-table>
