<form id="addForm" #form="ngForm" class="needs-validation" novalidate>
  <div class="row">
    <div *ngFor="let item of items; let i=index" class="col-12 col-md-6 col-xxl-4">
        <div *ngFor="let test of item.data | keyvalue: asIsOrder" class="form-floating mb-3">
          <input
            [(ngModel)]="test.value['value']"
            #input="ngModel"
            name="{{test.value['value']}}"
            [attr.type]="test.value['type']"
            [class.is-invalid]=input.invalid
            [class.is-valid]="input.valid && input.dirty"
            class="form-control"
            [attr.id]=i
            required
          />
          <label [attr.for]=i>{{ test.value["value"] }} <span class="brick-red">*</span></label>
        </div>
    </div>
  </div>
</form>
