<form id="addForm" #form="ngForm" class="needs-validation" novalidate>
  <div class="row">
    <div *ngFor="let item of items;" class="col-12 col-md-6 col-xxl-4">
<!--        <div *ngFor="let test of item" class="form-floating mb-3">-->
<!--  &lt;!&ndash;          <input&ndash;&gt;-->
<!--  &lt;!&ndash;            [(ngModel)]="test.value['value']"&ndash;&gt;-->
<!--  &lt;!&ndash;            #input="ngModel"&ndash;&gt;-->
<!--  &lt;!&ndash;            name="{{test.value['value']}}"&ndash;&gt;-->
<!--  &lt;!&ndash;            [attr.type]="test.value['type']"&ndash;&gt;-->
<!--  &lt;!&ndash;            [class.is-invalid]=input.invalid&ndash;&gt;-->
<!--  &lt;!&ndash;            [class.is-valid]="input.valid && input.dirty"&ndash;&gt;-->
<!--  &lt;!&ndash;            class="form-control"&ndash;&gt;-->
<!--  &lt;!&ndash;            [attr.id]=i&ndash;&gt;-->
<!--  &lt;!&ndash;            required&ndash;&gt;-->
<!--  &lt;!&ndash;          />&ndash;&gt;-->
<!--  &lt;!&ndash;          <label [attr.for]=i>{{ test.value["value"] }} <span class="brick-red">*</span></label>&ndash;&gt;-->
<!--        </div>-->
    </div>
  </div>
</form>
