<app-navbar></app-navbar>

<div class="container shadow-all">
  <div class="row mt-5">
    <div class="col-12 col-md-6">
      <div class="card shadow-lg mx-auto mb-4 float-md-end mb-md-0 me-md-5 overflow-hidden fadeIn card-zoom" style="width: 18rem;" (click)="directTo('leasecars')">
        <img src="../../../../assets/image/dashboard/dashboard_car.webp" class="card-img-top dashboard-height" alt="car image">
        <div class="card-body">
          <h5 class="card-title">Leaseauto's</h5>
          <p class="card-text">Bekijk en beheer hier de leaseauto's van Quintor.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card shadow-lg mx-auto mb-4 float-md-start mb-md-0 ms-md-5 overflow-hidden fadeIn card-zoom" style="width: 18rem;" (click)="directTo('orders')">
        <img src="../../../../assets/image/dashboard/dashboard_order.webp" class="card-img-top dashboard-height" alt="order image">
        <div class="card-body">
          <h5 class="card-title">Bestellingen</h5>
          <p class="card-text">Bekijk en beheer hier de bestellingen van de leaseauto's.</p>
        </div>
      </div>
    </div>
  </div>
</div>
