<app-navbar></app-navbar>

<!-- Flexbox container for aligning the toasts -->
<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100">

  <!-- Then put toasts within -->
  <div id="toastOrder" class="toast bg-light position-fixed" [ngClass]="{show: this.show}" style="z-index: 10;" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong id="toastTitle" class="me-auto">Bestelling toegevoegd!</strong>
      <small id="toastId">ID: 20</small>
      <button type="button" class="btn-close" (click)="this.show = false;" aria-label="Close"></button>
    </div>
    <div id="toastBody" class="toast-body fw-bold">
      Er is een nieuwe bestelling toegevoegd!
    </div>
  </div>
</div>

<div class="container mt-3 table-responsive">
  <div class="row">
    <div class="col-12 col-md-6 col-xxl-4 mt-3">
      <button id="open-add-order" aria-expanded="false" aria-controls="collapseExample" data-bs-toggle="collapse" data-bs-target="#collapseExample" type="button" class="btn btn-light border-color-secondary align-items-center display-flex text-nowrap mx-auto mx-md-0" title="Klik hier om het bestellingsformulier te openen">
        <mat-icon aria-hidden="false" class="brick-red pointer-hover" aria-label="menu_open" fontIcon="menu_open"></mat-icon>Nieuwe bestelling
      </button>
    </div>
    <div class="col-12 col-md-6 col-xxl-4 mt-3">
      <div class="input-group">
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Zoek op bestuurder.." aria-label="Zoek bestelling" aria-describedby="button-addon2">
        <button class="btn btn-outline-dark align-items-center display-flex" type="button" id="button-addon2">
          <mat-icon aria-hidden="false" class="pointer-hover ms-0 ps-0" aria-label="search" fontIcon="search"></mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div>
    <app-add-order (newOrderEvent)="this.addOrder($event);this.reloadOrders();this.showToast('Bestelling toegevoegd!', $event.id, 'De bestelling is toegevoegd!', 'green')"></app-add-order>
  </div>
  <table class="table table-hover table-borderless mt-4 shadow-all bg-light">
    <thead>
      <tr class="table-header">
        <th scope="col" class="pointer-hover" (click)="this.setSorting('id');">
          <div class="d-flex align-items-center">
            <img alt="driver" src="assets/image/tableheaders/counter.png" class="me-1 table-header-height">
            <span class="hidden">#</span>
            <mat-icon id="sorting-id" title="sorteer besteller" aria-hidden="false" class="ms-2 pointer-hover rotate-to-0 brick-red opacity-100" aria-label="sort_by_alpha" fontIcon="arrow_drop_up"></mat-icon>
          </div>
        </th>
        <th scope="col" class="pointer-hover" (click)="this.setSorting('orderer');">
          <div class="d-flex align-items-center">
            Besteller
            <mat-icon id="sorting-orderer" title="sorteer besteller" aria-hidden="false" class="ms-2 pointer-hover rotate-to-0 brick-red opacity-25" aria-label="sort_by_alpha" fontIcon="arrow_drop_up"></mat-icon>
          </div>
        </th>
        <th scope="col" class="pointer-hover" (click)="this.setSorting('driver');">
          <div class="d-flex align-items-center">
            Bestuurder
            <mat-icon id="sorting-driver"  title="sorteer Bestuurder" aria-hidden="false" class="ms-2 pointer-hover rotate-to-0 brick-red opacity-25" aria-label="sort_by_alpha" fontIcon="arrow_drop_up"></mat-icon>
          </div>
        </th>
        <th scope="col" class="pointer-hover" (click)="this.setSorting('carbrand');">
          <div class="d-flex align-items-center">
            Automerk
            <mat-icon id="sorting-carbrand" title="sorteer automerk" aria-hidden="false" class="ms-2 pointer-hover rotate-to-0 brick-red opacity-25" aria-label="sort_by_alpha" fontIcon="arrow_drop_up"></mat-icon>
          </div>
        </th>
        <th scope="col" class="pointer-hover" (click)="this.setSorting('orderDate');">
          <div class="d-flex align-items-center">
            Besteldatum
            <mat-icon id="sorting-orderDate" title="sorteer besteldatum" aria-hidden="false" class="ms-2 pointer-hover rotate-to-0 brick-red opacity-25" aria-label="sort_by_alpha" fontIcon="arrow_drop_up"></mat-icon>
          </div>
        </th>
        <th scope="col" class="pointer-hover" (click)="this.setSorting('leaseOrderStatus');">
          <div class="d-flex align-items-center">
            Status
            <mat-icon id="sorting-leaseOrderStatus" title="sorteer status" aria-hidden="false" class="ms-2 pointer-hover rotate-to-0 brick-red opacity-25" aria-label="sort_by_alpha" fontIcon="arrow_drop_up"></mat-icon>
          </div>
        </th>
        <th scope="col">Actie</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let order of this.orders | orderFilter: this.searchText: this.reload | orderSort: this.sortingField: this.sorting: this.reload;">
        <tr id="row{{ order.id }}" (click)="rotateArrow(order.id);" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+order.id" aria-expanded="false">
          <th scope="row">{{ order.id }}</th>
          <td class="pe-5">{{ order.orderer }}</td>
          <td class="pe-5">{{ 'Dummy' }}</td>
          <td class="pe-5">{{ 'Dummy' }}</td>
          <td class="pe-5">{{ order.orderDate }}</td>
          <td class="pe-5">
            <div ngbDropdown #dropdown class="btn-group w-100">
              <button ngbDropdownToggle id="status{{order.id}}" (click)="openStatusMenu();" class="btn btn-sm btn-group-sm dropdown-toggle btn-primary" data-bs-toggle="collapse" data-bs-target="" aria-expanded="false">
                {{ this.translateStatus(order.leaseOrderStatus, order.id) }}
              </button>
              <ul ngbDropdownMenu class="dropdown-menu" data-bs-toggle="collapse" data-bs-target="" [attr.aria-labelledby]="'status'+order.id">
                <li><a class="dropdown-item" (click)="this.editStatus(order.id, this.OrderStatus.unknown);">Onbekend</a></li>
                <li><a class="dropdown-item" (click)="this.editStatus(order.id, this.OrderStatus.ordered);">Besteld</a></li>
                <li><a class="dropdown-item" (click)="this.editStatus(order.id, this.OrderStatus.processed);">Verwerkt</a></li>
                <li><a class="dropdown-item" (click)="this.editStatus(order.id, this.OrderStatus.delayed);">Vertraagd</a></li>
                <li><a class="dropdown-item" (click)="this.editStatus(order.id, this.OrderStatus.canceled);">Geannuleerd</a></li>
                <li><a class="dropdown-item" (click)="this.editStatus(order.id, this.OrderStatus.shipped);">Onderweg</a></li>
                <li><a class="dropdown-item" (click)="this.editStatus(order.id, this.OrderStatus.delivered);">Geleverd</a></li>
              </ul>
            </div>
          </td>
          <td class="text-start align-middle">
            <span class="align-items-center display-flex" id="actions_{{ order.id }}">
              <a routerLink="/orders/{{ order.id }}" target="_blank" class="align-items-center display-flex"><mat-icon data-bs-toggle="collapse" data-bs-target="" aria-hidden="false" title="Bekijken" class="eye-color pointer-hover me-3" aria-label="view" fontIcon="visibility"></mat-icon></a>
              <mat-icon data-bs-toggle="collapse" data-bs-target="" aria-hidden="false" title="Aanpassen" class="pencil-color pointer-hover me-3" aria-label="edit" fontIcon="edit" (click)="$event.stopPropagation()"></mat-icon>
              <mat-icon data-bs-toggle="collapse" data-bs-target="" aria-hidden="false" title="Verwijderen" class="trash-color pointer-hover" aria-label="trash" fontIcon="delete" (click)="this.prompt(true, order.id);"></mat-icon>
            </span>
            <span class="text-nowrap prompt" id="delete_prompt_{{ order.id }}">
              <mat-icon data-bs-toggle="collapse" data-bs-target="" aria-hidden="false" title="Verwijderen" class="trash-color pointer-hover hidden me-3" aria-label="trash" fontIcon="delete"></mat-icon>
              <mat-icon data-bs-toggle="collapse" data-bs-target="" aria-hidden="false" title="Definitief verwijderen" class="trash-color pointer-hover me-3" aria-label="delete forever" fontIcon="delete_forever" (click)="this.delete(order.id);this.showToast('Bestelling verwijderd!', order.id, 'De bestelling is verwijderd!', 'red');$event.stopPropagation()"></mat-icon>
              <mat-icon data-bs-toggle="collapse" data-bs-target="" aria-hidden="false" title="Ongedaan maken" class="pencil-color pointer-hover" aria-label="undo" fontIcon="undo" (click)="this.prompt(false, order.id);$event.stopPropagation()"></mat-icon>
            </span>
          </td>
          <td class="text-start align-middle">
            <span class="align-items-center display-flex">
              <mat-icon id="arrow{{ order.id }}" title="Open" aria-hidden="false" class="trash-color pointer-hover rotate-to-0" aria-label="arrow_down" fontIcon="keyboard_arrow_down"></mat-icon>
            </span>
          </td>
        </tr>
        <tr class="collapseContainingDiv">
          <td colspan="8">
            <app-order-collapse-data [order]="order" [orderStatus]="getOrderStatus(order.leaseOrderStatus).text"></app-order-collapse-data>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
