<app-navbar></app-navbar>

<div class="container mt-3 table-responsive">
  <div class="row">
    <div class="col-12 col-md-6 col-xxl-4 mt-3">
      <button aria-expanded="false" aria-controls="collapseExample" data-bs-toggle="collapse" data-bs-target="#collapseExample" type="button" class="btn btn-light border-color-secondary align-items-center display-flex text-nowrap mx-auto mx-md-0" title="Klik hier om een nieuwe bestelling toe te voegen">
        <mat-icon aria-hidden="false" class="brick-red pointer-hover" aria-label="menu_open" fontIcon="menu_open"></mat-icon>Nieuwe bestelling
      </button>
    </div>
    <div class="col-12 col-md-6 col-xxl-4 mt-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Zoek op bestuurder.." aria-label="Zoek bestelling" aria-describedby="button-addon2">
        <button class="btn btn-outline-dark align-items-center display-flex" type="button" id="button-addon2">
          <mat-icon aria-hidden="false" class="pointer-hover ms-0 ps-0" aria-label="search" fontIcon="search"></mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div>
    <app-add-order (newOrderEvent)="this.addOrder($event)"></app-add-order>
  </div>
  <table class="table table-hover table-borderless mt-4 shadow-all bg-light">
      <thead>
        <tr class="table-header">
          <th scope="col">
            <div class="d-flex align-items-center">
              <img alt="driver" src="assets/image/tableheaders/counter.png" class="me-1 table-header-height">
              <span class="hidden">#</span>
            </div>
          </th>
          <th scope="col">Besteller</th>
          <th scope="col">Bestuurder</th>
          <th scope="col">Automerk</th>
          <th scope="col">Besteldatum</th>
          <th scope="col">Status</th>
          <th scope="col">Actie</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let order of this.orders">
          <tr id="row{{ order.id }}" (click)="rotate(order.id)" class="fw-bold" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+order.id" aria-expanded="false">
            <th scope="row">{{ order.id }}</th>
            <td>{{ order.orderer }}</td>
            <td>{{ 'dummy' }}</td>
            <td>{{ 'dummy' }}</td>
            <td>{{ order.orderDate }}</td>
            <td><span class="badge bg-success">{{ this.translateStatus(order.leaseOrderStatus) }}</span></td>
            <td class="text-start align-middle">
              <span class="align-items-center display-flex" id="actions_{{ order.id }}">
                <a routerLink="/orders/{{ order.id }}" target="_blank" class="align-items-center display-flex"><mat-icon data-bs-toggle="collapse" data-bs-target="" aria-hidden="false" title="Bekijken" class="eye-color pointer-hover me-3" aria-label="view" fontIcon="visibility"></mat-icon></a>
                <mat-icon data-bs-toggle="collapse" data-bs-target="" aria-hidden="false" title="Aanpassen" class="pencil-color pointer-hover me-3" aria-label="edit" fontIcon="edit" (click)="$event.stopPropagation()"></mat-icon>
                <mat-icon data-bs-toggle="collapse" data-bs-target="" aria-hidden="false" title="Verwijderen" class="trash-color pointer-hover" aria-label="trash" fontIcon="delete" (click)="this.prompt(true, order.id);"></mat-icon>
              </span>
              <span class="text-nowrap prompt" id="delete_prompt_{{ order.id }}">
                <mat-icon data-bs-toggle="collapse" data-bs-target="" aria-hidden="false" title="Verwijderen" class="trash-color pointer-hover hidden me-3" aria-label="trash" fontIcon="delete"></mat-icon>
                <mat-icon data-bs-toggle="collapse" data-bs-target="" aria-hidden="false" title="Definitief verwijderen" class="trash-color pointer-hover me-3" aria-label="delete forever" fontIcon="delete_forever" (click)="this.delete(order.id);$event.stopPropagation()"></mat-icon>
                <mat-icon data-bs-toggle="collapse" data-bs-target="" aria-hidden="false" title="Ongedaan maken" class="pencil-color pointer-hover" aria-label="undo" fontIcon="undo" (click)="this.prompt(false, order.id);$event.stopPropagation()"></mat-icon>
              </span>
            </td>
            <td class="text-start align-middle">
              <span class="align-items-center display-flex">
                <mat-icon id="arrow{{ order.id }}" title="Open" aria-hidden="false" class="trash-color pointer-hover close-arrow" aria-label="arrow_down" fontIcon="keyboard_arrow_down"></mat-icon>
              </span>
            </td>
          </tr>
          <tr class="collapseContainingDiv">
            <td colspan="8">
              <app-order-collapse-data [order]="order" [orderStatus]="translateStatus(order.leaseOrderStatus)"></app-order-collapse-data>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
</div>
