.collapseContainingDiv td {
  padding: 0 !important;
}

table {
  border-spacing: 0 10px;
  border-collapse: collapse;
}

.prompt {
  display: none;
}

.table-header {
  border-bottom: solid;
}

.font-small {
  font-size: 20px;
}

.font-very-small {
  font-size: 15px;
}

.border-color-secondary {
  border-color: #ced4da;
}

.display-flex {
  display: flex;
}

.plus-color {
  color: green;
}

.open-arrow {
  transform: rotate(180deg);
  transition: transform 0.2s linear;
}

.close-arrow {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}

.hidden {
  visibility: hidden;
}

.license-plate-blue {
  background-color: blue;
}

.table-header-height {
  height: 30px;
}

tr {
  line-height: 50px;
  min-height: 50px;
  background-color: white;
}

tr:active {
  cursor: pointer;
}

.pointer-hover:hover {
  cursor: pointer;
}

.shadow-all {
  box-shadow: 1px 1px 6px 3px lightgray;
}

.pencil-color {
  color: #ffb605;
}

.eye-color {
  color: dodgerblue;
}

.trash-color {
  color: red;
}

.arrow-color {
  color: #c13350;
}
