<span class="display-flex" id="actions-{{ data.actions.id }}" *ngIf="delete">
  <a
    [routerLink]="data.actions.apiURL+data.actions.id+'/view'"
    (click)="$event.stopImmediatePropagation()"
    target="_blank" class="align-items-center display-flex">
    <mat-icon
      data-bs-toggle="collapse"
      data-bs-target="" aria-hidden="false"
      title="Bekijken"
      class="eye-color pointer-hover me-3"
      aria-label="view"
      fontIcon="visibility">
    </mat-icon>
  </a>
  <a
    [routerLink]="data.actions.apiURL+data.actions.id +'/edit'"
    (click)="$event.stopImmediatePropagation()"
    class="align-items-center display-flex">
    <mat-icon
      data-bs-toggle="collapse"
      data-bs-target=""
      aria-hidden="false"
      title="Aanpassen"
      class="pencil-color pointer-hover me-3"
      aria-label="edit"
      fontIcon="edit">
    </mat-icon></a>
  <mat-icon
    data-bs-toggle="collapse"
    data-bs-target=""
    aria-hidden="false"
    title="Verwijderen"
    class="trash-color pointer-hover"
    aria-label="trash"
    fontIcon="delete"
    (click)="this.prompt();$event.stopImmediatePropagation()"></mat-icon>
</span>
<span class="text-nowrap prompt display-flex" *ngIf="confirmDelete">
  <mat-icon data-bs-toggle="collapse" data-bs-target="" aria-hidden="false" title="Verwijderen" class="trash-color pointer-hover hidden me-3" aria-label="trash" fontIcon="delete"></mat-icon>
  <mat-icon
    data-bs-toggle="collapse"
    data-bs-target=""
    aria-hidden="false"
    title="Definitief verwijderen"
    class="trash-color pointer-hover me-3"
    aria-label="delete forever"
    fontIcon="delete_forever"
    (click)="deleteEvent();$event.stopImmediatePropagation();"></mat-icon>
  <mat-icon data-bs-toggle="collapse" data-bs-target="" aria-hidden="false" title="Ongedaan maken" class="pencil-color pointer-hover" aria-label="undo" fontIcon="undo" (click)="this.prompt();$event.stopImmediatePropagation()"></mat-icon>
</span>
