<div class="list-group">
  <a class="list-group-item list-group-item-action bg-dark fw-bold" style="color: #c13350;" aria-current="true">
    Informatie
  </a>
  <a class="list-group-item list-group-item-action"><b>Besteldatum: </b>{{ this.order.orderDate }}</a>
  <a class="list-group-item list-group-item-action"><b>Besteld door: </b>Marrit van Noord</a>
  <a class="list-group-item list-group-item-action"><b>Offerte: </b><a href="{{this.order.quotationPath}}">link</a></a>
  <a class="list-group-item list-group-item-action"><b>Leaseplan: </b><a href="{{this.order.leasePlanPath}}">link</a></a>
  <a class="list-group-item list-group-item-action"><b>Verwachte leverweek: </b>{{ this.order.weekOfDelivery }}</a>
  <a class="list-group-item list-group-item-action"><b>Leverdatum: </b>{{ this.order.deliveryDate }}</a>
  <a class="list-group-item list-group-item-action"><b>Status: </b>{{ this.getOrderStatus(this.order.leaseOrderStatus) }}</a>
</div>
