<ng-container *ngFor="let trData of rowData; let i=index">
  <tr
    app-table-row
    id="row-{{ trData.id }}"
    [attr.data-bs-toggle]="'collapse'"
    [attr.data-bs-target]="'#collapse'+trData.id"
    [attr.aria-expanded]="false"
    [tableData]="trData.tableData"
    (click)="rowClickEvent.emit(trData.id)"
  ></tr>
  <tr class="td-p-0">
    <td colspan="8">
      <div class="collapse border-top border-bottom pb-3" id="{{'collapse' + trData.id }}">
        <div class="accordion-body">
          <div class="container-fluid pb-3 pb-xl-0">
            <div class="row mt-3">
              <div class="col-12 col-lg-4" *ngFor="let data of rowData[i].data; let j=index">
                <app-data-view [title]="titles[j]" [hiddenProperties]="hiddenProperties" [item]="data"></app-data-view>
              </div>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</ng-container>
