<div class="collapse border-top border-bottom" id="{{'collapse' + order.id }}">
  <div class="row p-3">
    <div class="col-12 col-lg-3">
      <div class="list-group">
        <a class="list-group-item list-group-item-action bg-dark fw-bold" style="color: #c13350;" aria-current="true">
          Informatie
        </a>
        <a class="list-group-item list-group-item-action"><b>Besteldatum: </b>{{ order.orderDate }}</a>
        <a class="list-group-item list-group-item-action"><b>Bestel door: </b>{{ order.orderer }}</a>
        <a class="list-group-item list-group-item-action"><b>Offerte: </b>{{ order.quotationPath }}</a>
        <a class="list-group-item list-group-item-action"><b>Leaseplan: </b>{{ order.leasePlanPath }}</a>
        <a class="list-group-item list-group-item-action"><b>Verwachte leverweek: </b>{{ order.weekOfDelivery }}</a>
        <a class="list-group-item list-group-item-action"><b>Leverdatum: </b>{{ order.deliveryDate }}</a>
        <a class="list-group-item list-group-item-action"><b>Status: </b>{{ this.orderStatus }}</a>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="list-group">
        <a class="list-group-item list-group-item-action bg-dark fw-bold" style="color: #c13350;" aria-current="true">
          Bestelling voor
        </a>
        <a class="list-group-item list-group-item-action"><b>Geslacht: </b>Man</a>
        <a class="list-group-item list-group-item-action"><b>Naam: </b>Douwe</a>
        <a class="list-group-item list-group-item-action"><b>Achternaam: </b>Leeuw</a>
        <a class="list-group-item list-group-item-action"><b>tussenvoegsel: </b>de</a>
        <a class="list-group-item list-group-item-action"><b>E-mailadres: </b>ddleeuw@quintor.nl</a>
        <a class="list-group-item list-group-item-action"><b>Telefoonnummer: </b>+31 6 27 61 23 12</a>
        <a class="list-group-item list-group-item-action"><b>Functie: </b>Software Developer</a>
        <a class="list-group-item list-group-item-action"><b>Rijbewijs: </b>B</a>
        <a class="list-group-item list-group-item-action"><b>Parttime: </b>80%</a>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="list-group">
        <a class="list-group-item list-group-item-action bg-dark fw-bold" style="color: #c13350;" aria-current="true">
          Contract
        </a>
        <a class="list-group-item list-group-item-action"><b>Regeling: </b>A2</a>
        <a class="list-group-item list-group-item-action"><b>Ondertekend: </b>Ja</a>
        <a class="list-group-item list-group-item-action"><b>Looptijd: </b>36 maanden</a>
        <a class="list-group-item list-group-item-action"><b>Leasemaatschappij: </b>LeasePlan</a>
        <a class="list-group-item list-group-item-action"><b>Fiscale bijtelling: </b>22%</a>
        <a class="list-group-item list-group-item-action"><b>Eigen bijdrage: </b>57.04 (10% parttime)</a>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="list-group">
        <a class="list-group-item list-group-item-action bg-dark fw-bold" style="color: #c13350;" aria-current="true">
          Leaseauto
        </a>
        <a class="list-group-item list-group-item-action"><b>Merk: </b>Audi</a>
        <a class="list-group-item list-group-item-action"><b>Model: </b>A4 Avant</a>
        <a class="list-group-item list-group-item-action"><b>Extra/kleur: </b>Agate Black</a>
        <a class="list-group-item list-group-item-action"><b>Verbrandingsmotor: </b>Benzine</a>
        <a class="list-group-item list-group-item-action"><b>Huidige kilometrage: </b>12500 km</a>
        <a class="list-group-item list-group-item-action"><b>Fiscale waarde (incl. btw): </b>€21.225,55</a>
        <a class="list-group-item list-group-item-action"><b>Bijzonderheden: </b>Trekhaak</a>
      </div>
    </div>
  </div>
</div>
