<form id="addForm" #addOrderForm="ngForm" class="needs-validation" novalidate>
  <div class="accordion-body">
    <div class="row">
      <div class="col-12 col-md-6 col-xxl-4">
        <div class="form-floating mb-3">
          <input [(ngModel)]="order.data.orderer.value" #ordererInput="ngModel" name="orderer" type="text" [class.is-invalid]="ordererInput.invalid" [class.is-valid]="ordererInput.valid && ordererInput.dirty" class="form-control" id="ordererInput" placeholder="John Doe" required>
          <label for="ordererInput">Besteller <span class="brick-red">*</span></label>
        </div>
        <div class="form-floating mb-3">
          <input [(ngModel)]="order.data.supplier.value" #supplierInput="ngModel" [class.is-invalid]="supplierInput.invalid" [class.is-valid]="supplierInput.valid && supplierInput.dirty" name="supplier" type="text" class="form-control" id="supplierInput" placeholder="Jane Doe" required>
          <label for="supplierInput">Leverancier <span class="brick-red">*</span></label>
        </div>
        <div class="input-group mb-3">
          <div class="form-floating">
            <input
              class="form-control"
              placeholder="dd-mm-yyyy"
              id="orderDateInput"
              name="dpOrder"
              [(ngModel)]="order.data.orderDate.data"
              #dateOfOrderInput="ngModel"
              [class.is-invalid]="dateOfOrderInput.invalid"
              [class.is-valid]="dateOfOrderInput.valid && dateOfOrderInput.dirty"
              ngbDatepicker
              #dpOrder="ngbDatepicker"
              required
            />
            <label for="orderDateInput">Datum van bestelling <span class="brick-red">*</span></label>
          </div>
          <button class="btn btn-outline-secondary {{ dateOfOrderInput.valid ? 'border-secondary' : 'border-danger'}} align-items-center display-flex" (click)="dpOrder.toggle()" type="button">
            <mat-icon title="Open kalender" class="pointer-hover brick-red" aria-label="calendar_month" fontIcon="calendar_month"></mat-icon>
          </button>
        </div>
        <div class="input-group mb-3">
          <div class="form-floating">
            <input
              class="form-control"
              placeholder="dd-mm-yyyy"
              id="orderDeliveryInput"
              name="dpDelivery"
              [(ngModel)]="order.data.deliveryDate.data"
              #dateOfDeliveryInput="ngModel"
              [class.is-valid]="dateOfDeliveryInput.valid && dateOfDeliveryInput.dirty"
              [class.is-invalid]="dateOfDeliveryInput.invalid"
              ngbDatepicker
              #dpDelivery="ngbDatepicker"
            />
            <label for="orderDeliveryInput">Datum van levering</label>
          </div>
          <button class="btn btn-outline-secondary {{ dateOfDeliveryInput.valid ? 'border-secondary' : 'border-danger' }} align-items-center display-flex" (click)="dpDelivery.toggle()" type="button">
            <mat-icon title="Open kalender" class="pointer-hover brick-red calender-hover" aria-label="calendar_month" fontIcon="calendar_month"></mat-icon>
          </button>
        </div>
        <div class="form-floating mb-3">
          <input [(ngModel)]="order.data.weekOfDelivery.value" #expectedWeekInput="ngModel" [class.is-valid]="expectedWeekInput.valid && expectedWeekInput.dirty && expectedWeekInput.value != null" [class.is-invalid]="expectedWeekInput.invalid" name="expected-week" type="number" id="expectedWeekInput" class="form-control" placeholder="verwachte week" min="0" max="52"/>
          <label class="form-label" for="expectedWeekInput">Verwachte week van levering</label>
        </div>
        <div class="form-floating mb-3">
          <select [(ngModel)]="order.data.leaseOrderStatus.value" #statusInput="ngModel" [class.is-valid]="statusInput.valid && statusInput.dirty" [class.is-invalid]="statusInput.invalid" name="status" class="form-select" id="statusSelect" aria-label="Status selecteren" required>
            <option value="" disabled>Selecteer status...</option>
            <option *ngFor="let orderStatus of OrderStatus | keyvalue; let i = index;" value="{{ orderStatus.value.code }}">{{ orderStatus.value.text }}</option>
          </select>
          <label for="statusSelect">De status van de bestelling <span class="brick-red">*</span></label>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xxl-4">
        <div class="row">
          <div class="col-12 col-md-6 col-xxl-6">
            <div class="form-floating mb-3">
              <input [(ngModel)]="order.data.leasecar.data.driver.value" #driverInput="ngModel" [class.is-invalid]="driverInput.invalid" [class.is-valid]="driverInput.valid && driverInput.dirty" name="driver" type="text" class="form-control" id="driverInput" placeholder="Jane Doe" required>
              <label for="driverInput">Bestuurder <span class="brick-red">*</span></label>
            </div>
            <div class="form-floating mb-3">
              <input [(ngModel)]="order.data.leasecar.data.brand.value" #carBrandInput="ngModel" [class.is-invalid]="carBrandInput.invalid" [class.is-valid]="carBrandInput.valid && carBrandInput.dirty" name="carbrand" type="text" class="form-control" id="carBrandInput" placeholder="Jane Doe">
              <label for="carBrandInput">Automerk</label>
            </div>
            <div class="form-floating mb-3">
              <input [(ngModel)]="order.data.leasecar.data.model.value" #carModelInput="ngModel" [class.is-invalid]="carModelInput.invalid" [class.is-valid]="carModelInput.valid && carModelInput.dirty" name="carModel" type="text" class="form-control" id="carModelInput" placeholder="Jane Doe">
              <label for="carModelInput">Model</label>
            </div>
            <div class="form-floating mb-3">
              <input [(ngModel)]="order.data.leasecar.data.extra.value" #carExtraInput="ngModel" [class.is-invalid]="carExtraInput.invalid" [class.is-valid]="carExtraInput.valid && carExtraInput.dirty" name="carExtra" type="text" class="form-control" id="carExtraInput" placeholder="Jane Doe">
              <label for="carExtraInput">Extra</label>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xxl-6">
            <div class="form-floating mb-3">
              <input [(ngModel)]="order.data.leasecar.data.engine.value" #carEngineInput="ngModel" [class.is-invalid]="carEngineInput.invalid" [class.is-valid]="carEngineInput.valid && carEngineInput.dirty" name="carEngine" type="text" class="form-control" id="carEngineInput" placeholder="Jane Doe">
              <label for="carEngineInput">Motor</label>
            </div>
            <div class="form-floating mb-3">
              <input [(ngModel)]="order.data.leasecar.data.kilometers.value" #carKilometersInput="ngModel" [class.is-invalid]="carKilometersInput.invalid" [class.is-valid]="carKilometersInput.valid && carKilometersInput.dirty" name="carKilometers" type="text" class="form-control" id="carKilometersInput" placeholder="Jane Doe">
              <label for="carKilometersInput">Aantal kilometers</label>
            </div>
            <div class="form-floating mb-3">
              <input [(ngModel)]="order.data.leasecar.data.price.value" #carPriceInput="ngModel" [class.is-invalid]="carPriceInput.invalid" [class.is-valid]="carPriceInput.valid && carPriceInput.dirty" name="carPrice" type="text" class="form-control" id="carPriceInput" placeholder="Jane Doe">
              <label for="carPriceInput">Fiscale waarde</label>
            </div>
            <div class="form-floating mb-3">
              <input [(ngModel)]="order.data.leasecar.data.particularities.value" #carParticularitiesInput="ngModel" [class.is-invalid]="carParticularitiesInput.invalid" [class.is-valid]="carParticularitiesInput.valid && carParticularitiesInput.dirty" name="carParticularities" type="text" class="form-control" id="carParticularitiesInput" placeholder="Jane Doe">
              <label for="carParticularitiesInput">Bijzonderheden</label>
            </div>
          </div>
        </div>
        <div class="input-group mb-3 label-hover">
          <label class="input-group-text w-50" for="leasePlanInput">Upload leaseplan</label>
          <input [(ngModel)]="this.leasePlan" (change)="this.onFileSelect($event, 'leaseplan')" #leaseplanPathInput="ngModel" [class.is-valid]="leaseplanPathInput.valid && leaseplanPathInput.dirty" [class.is-invalid]="leaseplanPathInput.invalid" name="lease-plan-path" type="file" class="form-control custom-button" id="leasePlanInput" placeholder="Leaseplan">
        </div>
        <div class="input-group mb-3 label-hover">
          <label class="input-group-text w-50" for="quotationInput">Upload factuur</label>
          <input [(ngModel)]="this.quotation" (change)="this.onFileSelect($event, 'quotation')" #quotationPathInput="ngModel" [class.is-valid]="quotationPathInput.valid && quotationPathInput.dirty" [class.is-invalid]="quotationPathInput.invalid" name="quotation-path" type="file" class="form-control custom-button" id="quotationInput" placeholder="factuur">
        </div>
      </div>
      <div class="col-12 col-xxl-4">
        <div class="row">
          <div class="col-xxl-6">
            <div class="form-floating mb-3">
              <input [(ngModel)]="order.data.leasecar.data.contract.data.contractType.value" #contractTypeInput="ngModel" [class.is-invalid]="contractTypeInput.invalid && contractTypeInput.dirty" [class.is-valid]="contractTypeInput.valid && contractTypeInput.dirty" name="contractType" type="text" class="form-control" id="contractTypeInput" placeholder="A1">
              <label for="contractTypeInput">Regeling</label>
            </div>
          </div>
          <div class="col-xxl-6">
            <div class="form-floating mb-3">
              <select [(ngModel)]="order.data.leasecar.data.contract.data.signed.value" #signedInput="ngModel" [class.is-valid]="signedInput.valid && signedInput.dirty" [class.is-invalid]="signedInput.invalid" name="signed" class="form-select" id="signedSelect" aria-label="Ondertekend selecteren" required>
                <option value="" disabled>Selecteer ondertekening...</option>
                <option value="true">Ja</option>
                <option value="false">Nee</option>
              </select>
              <label for="signedSelect">Ondertekend</label>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="form-floating">
            <input
              class="form-control"
              placeholder="dd-mm-yyyy"
              id="startDateInput"
              name="dpStartDate"
              [(ngModel)]="order.data.leasecar.data.contract.data.startDate.data"
              #startDateInput="ngModel"
              [class.is-valid]="startDateInput.valid && startDateInput.dirty"
              [class.is-invalid]="startDateInput.invalid"
              ngbDatepicker
              #dpStartDate="ngbDatepicker"
            />
            <label for="startDateInput">Inzetdatum contract</label>
          </div>
          <button class="btn btn-outline-secondary {{ startDateInput.valid ? 'border-secondary' : 'border-danger' }} align-items-center display-flex" (click)="dpStartDate.toggle()" type="button">
            <mat-icon title="Open kalender" class="pointer-hover brick-red calender-hover" aria-label="calendar_month" fontIcon="calendar_month"></mat-icon>
          </button>
        </div>
        <div class="input-group mb-3">
          <div class="form-floating">
            <input
              class="form-control"
              placeholder="dd-mm-yyyy"
              id="endDateInput"
              name="dpEndDate"
              [(ngModel)]="order.data.leasecar.data.contract.data.endDate.data"
              #endDateInput="ngModel"
              [class.is-valid]="endDateInput.valid && endDateInput.dirty"
              [class.is-invalid]="endDateInput.invalid"
              ngbDatepicker
              #dpEndDate="ngbDatepicker"
            />
            <label for="endDateInput">Einddatum contract</label>
          </div>
          <button class="btn btn-outline-secondary {{ endDateInput.valid ? 'border-secondary' : 'border-danger' }} align-items-center display-flex" (click)="dpEndDate.toggle()" type="button">
            <mat-icon title="Open kalender" class="pointer-hover brick-red calender-hover" aria-label="calendar_month" fontIcon="calendar_month"></mat-icon>
          </button>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-floating mb-3">
              <input [(ngModel)]="order.data.leasecar.data.contract.data.taxAddition.value" #taxAdditionInput="ngModel" [class.is-invalid]="taxAdditionInput.invalid" [class.is-valid]="taxAdditionInput.valid && taxAdditionInput.dirty && taxAdditionInput.value != ''" name="taxAddition" type="number" class="form-control" id="taxAdditionInput" min="0" max="100" placeholder="Jane Doe">
              <label for="taxAdditionInput">Fiscale bijtelling (%)</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating mb-3">
              <input [(ngModel)]="order.data.leasecar.data.contract.data.contribution.value" #contributionInput="ngModel" [class.is-invalid]="contributionInput.invalid" [class.is-valid]="contributionInput.valid && contributionInput.dirty && contributionInput.value != ''" name="contribution" type="number" class="form-control" id="contributionInput" min="0" max="100" placeholder="Jane Doe">
              <label for="contributionInput">Eigen bijdrage (%)</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button [disabled]="addOrderForm.form.invalid || this.busy" type="submit" id="add-order-button" aria-expanded="false" aria-controls="collapseExample" (click)="this.create();" class="btn btn-light border-dark align-items-center display-flex text-nowrap mt-5 mx-auto mx-md-0" title="Klik hier om een nieuwe bestelling toe te voegen">
      <mat-icon aria-hidden="false" id="add-order-icon" class="me-2 {{this.buttonColorClass}} pointer-hover" aria-label="add_box" fontIcon="{{this.buttonFont}}"></mat-icon>{{ this.buttonName }}
    </button>
    <div id="add-loading-spinner" class="spinner-border brick-red display-none mt-3" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
</form>
